/* brand color */
/* body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} */
:root{
    --first:#e35a37;
    --second:#3d61ad;
}

section{
    padding: 5vh;
    /* border: 1px solid black; */
}

body{
    margin: 0px;
    padding: 0px;
}

.first-color{
    color: var(--first);
}

.second-background-color{
    background-color: var(--second);
    color:white;
    border: 1px solid white;
}

.second-background-color:hover{
    background-color:white ;
    color:var(--second);
    border: 2px solid var(--second);
}

.second-color{
    color: var(--second);
}


/* end of brand color */


/* header */



header{
    box-shadow: 10px 9px 33px -24px rgba(0,0,0,.76);
    width: 100%;
    position: fixed;
    z-index: 10;
}

header .secondnav{
  position: sticky;
  /* z-index: 10;
  top: 1px; */
}
header>nav .firstnav  ul{
    list-style: none;
    padding: 0px;
    display: flex;
    gap:10px;
}

header>nav .firstnav .quas_header_right .quasquas-social-icons{
    width: auto;
    display: flex;
    align-items: center;
}

i{
  font-size: 300px; 
}

header>nav .firstnav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: var(--second);
    align-items: center;
    flex-wrap: nowrap;
}

header>nav .firstnav .quas_header_left a,i{
    color: white;
    text-decoration: none;
}

header>nav .firstnav .quas_header_left i{
    margin-right: 3px;
}


header>nav .firstnav .quas_header_right{
display: flex;
gap: 2%;
width: 290px;
align-items: center;
justify-content: right;
margin-right: 10px;
}

header>nav .firstnav .quas_header_left{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    
}

header>nav .firstnav .quas_header_left ul{
margin: 0px auto;
}

header>nav .firstnav .quas_header_right .quas-social-icons i{
font-size: 20px;
padding: 2px;
}

header>nav .firstnav .quas_header_right .dropdown a{
color: var(--second);
background-color: #EDEADE;
border: 2px solid var(--second);
}

header>nav .firstnav .quas_header_right .dropdown a:hover{
    color: #EDEADE;
    background-color:  var(--second);
    border: 1px solid #EDEADE;
    }

/* end header */

/* hero */

section#hero {
    padding: 5vh;
    padding-top: 190px;
}

#hero{
width: 100%;
/* border: 1px solid black; */
height: auto;
margin: auto;
}

#hero #hero-main #hero-left{
    position: relative;
    width: 40%;
    height: 60vh; 
}


#hero #hero-main #hero-left #ratings{
width: 40%;
}

#hero #hero-main #hero-right{
    position: relative;
    width: 50%;
    height: 60vh; 
    border-radius: 10px;
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero #hero-main #hero-right .head-form{
    width: 90%;
    height: auto;
   
}

#hero #hero-main #hero-right .form-group{
   margin: 10px;
}

#hero #hero-main #hero-right .form-group button{
    width: 30%;
    height: 50px;
    border-radius:10px ;
}




#clients{
  background-color: var(--second);
}

#hero-clients{
    /* padding-top: 5vh; */
    position: relative;
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: #EDEADE;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 20px rgba(209,211,224,0.3) ;
}
#hero-clients:hover{
  background-color: white;
}

#hero-clients .hero-clients-img{
margin: auto;
filter: grayscale(100%);
transition: all 500ms ease-in-out ;
width: 130px;
}

#hero-clients .hero-clients-img:hover{
    filter: grayscale(0%);
    scale:1.1;
    }

  
  #hero .taglines div{
    width: 250px;
    height: 50px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 16px;
    /* background-color: var(--second); */
    /* color: white; */
    border-left: 2px solid var(--first);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



/* hero end */


/* modal */

.modal-body{
    border: 1px solid rgba(0,0,0,0.1);
    width: 95%;
    margin: 20px auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding:0%;
    
}

.modal-body .modal-sidebar{
    width:30% ;
    border-right: 5px solid var(--second);
    margin: 10px;
    padding: 10px;
    margin-right: 0px;
    box-sizing: border-box;
    
}
.modal-body .modal-sidebar button{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    text-align: left;
    background-color: white;
    margin-bottom: 10px;

}
.modal-body .modal-sidebar>div{
    font-size: 1.5em;
    width: 300px;
}


.modal-body .modal-sidebar button:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: #3d61ad;
    border-bottom: 1px solid var(--second);
    cursor: pointer;
}

.modal-body .modal-main{
    width:70% ;
    background-color: rgba(0, 0, 0, 0.05);
    padding-left: 30px;
}

.modal-body .modal-main h4{
    margin-top: 15px;
}

.modal-body .modal-main ul{
    padding: 0px;
}
.modal-body .modal-main li{
    list-style: none;
    font-size: 20px;
}
.modal-body .modal-main a::before{
    content: "->"; 
}


.modal-body .modal-main li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 500ms ease-in-out; /* Apply transition to transform property */
}

.modal-body .modal-main li a:hover {
    color: var(--second); 
    transform: scale(3); 
}
/*modal end  */


/* Our courses */

section#ourcourse{
    background-color: #fff;
}


.course-filters{
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4); */
  width: 100%;
  height: 70px;
}
.course-filters div {
  box-shadow: 0 2px 8px 0 rgba(227, 170, 55, 0.4);
  border-radius: 10px;
    font-size: 20px; 
    padding: 10px 20px; 
    border-bottom: 1px solid transparent;
    transition: all 200ms ease-in-out;
  }

  .course-filters div:hover{
    border-bottom: 1px solid var(--first);
    color: var(--first);
    cursor: pointer;
  }
  /* swiper course */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper{
    margin: 0px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
    /* background-color: #ecf1f5; */
  }
  .swiper-slide-active{
    width: 20%;
  }

  .swiper-slide>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .swiper-slide .card{
    width: 350px;
    height: auto;
    margin: auto;
    box-shadow:2px 2px 20px rgba(0,0,0,0.2);
    border:none; 
    transition: all 400ms ease-in-out;
     margin-top: 16px;
      margin-bottom: 10px;
  }
  .swiper-slide .card a{
    width: 40%;
    display: inline-block;
  }
  .swiper-slide .card:hover{
    transform: scale(1.03);
    box-shadow: 0 2px 8px 0 rgba(227, 170, 55, 0.4);
  }

  .swiper-slide .card img{
    height: 200px;
    object-fit: fill;
    width: 350px;
    height: 152px;
  }

 

  .swiper-slide .card-content{
    height: 300px;
    width: 98%;
    margin: auto;
    background-color: #EDEADE;
    z-index: 2;
    border: 2px solid black;
    border-radius: 10px;
  }

  /* Custom Next Button */
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);; /* Background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Border radius */
}

/* Custom Prev Button */
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Border radius */
}

  
  /* swiper course end */


/* Our courses end */

/* carrierpath */

#carrierpath img{
    width: 100%;
}

#carrierpath h2{
    text-align: center;
    margin-bottom: 2rem;
}

/* carrierpath end*/

/* course benefits */
/* .heading h1 {
  /* color: #fff; */
  /* font-size: 18px; */
  /* text-transform: uppercase; 
  font-weight: 600;
  border-bottom: 5px solid var(--first);
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 40px;
  margin-top: 15px
} */

.heading-text{
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 5px solid var(--first);
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: 40px;
  margin-top: 15px
}

.services-list {
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  margin: 0 0 27px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(227, 170, 55, 0.4);
  height: 215px;
  background-color: #fff;
  overflow: hidden;
}
/* end course benefits */



/* faq  */

   .faq .content {
    padding: 60px 100px 0 100px;
  }
  
  .faq .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #fff;
  }
  
  .faq .content h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .faq .content p {
    font-size: 15px;
    color: #848484;
  }
  
  .faq .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .faq .accordion-list {
    padding: 0 10px 60px 10px;
  }
  
  .faq .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .accordion-list li+li {
    margin-top: 15px;
  }
  
  .faq .accordion-list li {
    padding: 20px;
    background:#fff;
    border-radius: 4px;
    /* border: 4px solid var(--second); */
    z-index: 10;
    box-shadow: 2px 2px 20px rgba(209,211,224,0.3) ;

  }


  
  .faq .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .faq .accordion-list span {
    color: var(--first);
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  
  .faq .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .accordion-list .icon-show {
    display: none;
  }
  
  .faq .accordion-list a.collapsed {
    color: black;
  }
  
  .faq .accordion-list a.collapsed:hover {
    color: var(--first);
  }
  
  .faq .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .accordion-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1024px) {
  
    .faq .content,
    .faq .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    #faq{
      background-color: #ecf1f5;
    }
    .faq .img {
      min-height: 400px;
    }
  
    .faq .content {
      padding-top: 0px;
      padding-bottom: 30px;
    }
  
    .faq .accordion-list {
      padding-bottom: 30px;
    }
    
  }
  
  @media (max-width: 575px) {
    .faq .img {
      min-height: 200px;
    }
  }
  


/* faq end */


/* footer */
footer{
  background-color: var(--second);
  width: 100%;
  height: 20vh;
}

/* footer end */



